.item {
    margin-bottom: 10px;
}

h1{
  text-align: center;
  color: #626F47;
}
 h1:hover{
   background-color: #FEFAE0;
 }
li::marker{
  color: #626F47;
}
.btn {
    background-color: #626F47;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
}

.btn:hover{
  background-color: #798645;
}
.text {
    display: none;
    padding: 10px;
    background-color: #FEFAE0;
}

.text p {
    margin: 0;
}